@keyframes caretPulsate {
    0%, 100% { visibility: visible; }
    50% { visibility: hidden; }  
}

@-webkit-keyframes caretPulsate {
    0%, 100% { visibility: visible; }
    50% { visibility: hidden; }  
}

@keyframes chColor {
    // from{
    //     fill: var(--color-light);
    // }
    to {
        fill: var(--color-dark);
    }
}