@keyframes caretPulsate {
    0%, 100% { visibility: visible; }
    50% { visibility: hidden; }  
}

@-webkit-keyframes caretPulsate {
    0%, 100% { visibility: visible; }
    50% { visibility: hidden; }  
}

@keyframes chColor {

    to {
        fill: var(--color-dark);
    }
}