@media(max-width: 750px) {
    .links {
        row-gap: var(--gap);
        
        &__item {
            min-width: 100%;
        }
    }

    .music {
        &__player {
            flex-direction: column;
            row-gap: var(--gap);
        }

        &__name {
            font-size: 15px;
        }
    }

    .container {
        width: calc(100vw - var(--container-padding-x)*2);
        padding: 0;
        padding-inline: var(--container-padding-x);
    }

}

@media(min-width: 750px) {

    .links {
        &__item {
            min-width: 315px;
        }
    }

}

@media(max-height:700px){
    .container{
        padding-top: 15px;
    }
    :root{
        --gap:5px;
    }
}