:root {
    --color-light:#ffffff;
    --color-dark:rgba(31, 24, 56, 0.9);
    --color-light-purple:rgb(144, 113, 255);
    --color-dark-purple: rgba(42, 31, 77, 0.7);
    
    --border-radius:20px;
    --gap:15px;
    --font-family-base:'Roboto', sans-serif;
    --transition-duration: 0.2s;

    --block-width:650px;
    --container-width:650px
    --block-backdrop-filter:10px;
    --padding:15px;
    --container-padding-x:30px;

    --transition: all 0.2s ease-in-out;
}